@import 'tailwindcss';
@import './menu.css';
@import './transition.css';

/* @see https://tailwindcss.com/docs/theme#why-theme-instead-of-root */
@theme {
  --primary-color: #1d4ed8; /* blue-700 */
  --secondary-color: #f59e0b; /* amber-500 */

  --color-mint-500: oklch(0.72 0.11 178); /* class="bg-mint-500" */

  --font-poppins: Poppins, sans-serif; /* class="font-poppins" */

  --spacing-table: calc(100vh - 140px);
}

@layer components {
  .red {
    @apply text-red-500;
    background-color: var(--color-mint-500);
  }
}
